.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: auto;
  background-color: rgba(0,0,0,0.5);
  z-index: 1001;
  overflow: hidden;
}

.modal.modalOn {
  visibility: visible;
  transition: 0.4s opacity ease-in-out;
}

.container {
  position: relative;
  top: calc(50% - 250px);
  margin: auto;
  width: 800px;
  height: 500px;
  border: 1px solid;
  border-color: rgba(0,0,0,.75);
  box-shadow: 0 4px 6px rgba(0,0,0,.25);
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

.header {
  position: relative;
  text-align: left;
  background: linear-gradient(to bottom,#f7f7f7,#eaeaea);
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #cdcdcd;
  border-bottom-color: rgba(0,0,0,.2);
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 -1px 0 rgba(255,255,255,.4) inset;
  padding: 0 14px;
  margin: 0;
  z-index: 10;
  height: 38px;
}

.h4 {
  padding: 10px 0 9px;
  font-size: 13px;
  font-weight: 700;
  margin: 0px 20px 0px 0px;
}

.button {
  position: absolute;
  cursor: pointer;
  top: 4px;
  right: 4px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid;
  border-color: transparent;
  height:30px;
  width: 30px;
  line-height: 0;
  font-size: 100%;
  vertical-align: middle;
  align-items: flex-start;
  text-align: center;
}

.x {
  position: absolute;
  margin: auto;
  padding-left: 2px;
  pointer-events: none;
  width: 10px;
  height: 10px;
  color: #555;
}

.body {
  position: relative;
  background-color: #fff;
  margin: 14px 18px;
  padding: 14px 30px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  height: 432px;
  box-sizing: border-box;
}

.bodyTitle {
  margin-top: 0px;
  padding-top: 0px;
  border-top: 0px;
}

.content {
  margin-bottom: 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: overlay;
}

.tableContainer {

}

.table {
  text-align: center;
  margin-bottom: 18px;
  width: 100%;
  border: 1px solid #e7e7e7;
  border-top-color: #eaeaea;
  border-bottom: none;
  border-spacing: 0;
  border-collapse: collapse;
}

.trh {
  background: linear-gradient(to bottom,#f8f8f8,#eee);
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset;
  border-bottom-color: #ddd;
  border-color: #e7e7e7;
  font-weight: 700;
}

.tableEvenRow {
  background-color: #f6f6f6;
  border: 1px solid #e7e7e7;
}

.tableOddRow {
  border: 1px solid #e7e7e7;
}

.td {
  line-height: 32px;
}

.th {
  line-height: 50px;
}

.units {
  font-size: 11px;
  font-weight: 400;
}
