.modal {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal.modalOn {
  visibility: visible;
  transition: 0.4s opacity ease-in-out;
}

.container {
  width: 800px;
  height: 500px;
  border: 1px solid;
  border-color: rgba(0,0,0,.75);
  box-shadow: 0 4px 6px rgba(0,0,0,.25);
  border-radius: 4px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.header {
  position: relative;
  text-align: left;
  background: linear-gradient(to bottom,#f7f7f7,#eaeaea);
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #cdcdcd;
  border-bottom-color: rgba(0,0,0,.2);
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 -1px 0 rgba(255,255,255,.4) inset;
  padding: 0 14px;
  margin: 0;
  z-index: 10;
  height: 38px;
}

.h4 {
  padding: 10px 0 9px;
  font-size: 13px;
  font-weight: 700;
  margin: 0px 20px 0px 0px;
}

.button {
  box-sizing: border-box;
  display: block;
  zoom: 1;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid;
  border-color: transparent;
  float: right;
  padding: 8px;
  position: relative;
  top: 50%;
  right: 5px;
  margin: -13px 0 0;
  line-height: 0;
  font-size: 100%;
  vertical-align: middle;
  align-items: flex-start;
  text-align: center;
}

.x {
  width: 10px;
  height: 10px;
  vertical-align: -10%;
}

.body {
  background-color: #fff;
  padding: 14px 18px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  height: 427px;
}

.content {
  margin-bottom: 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: overlay;
}

.tableContainer {

}

.table {
  margin-bottom: 22px;
  border: 1px solid #e7e7e7;
  border-top-color: #eaeaea;
  border-bottom: none;
  border-spacing: 0;
}

.th {
  background: linear-gradient(to bottom,#f8f8f8,#eee);
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset;
  border-color: #e7e7e7;
  border-bottom: 1px solid #ddd;
}

.trDark {

}

.trLight {

}
